.boxes{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 2%;
    margin: 2% 0% 0% 10%;
}
.boxes > div{
    border: 1px solid black;
    box-shadow: 4px 4px 4px black;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
}
img{
    width:100%;
    height: 65%;
}
